/* Use your own code or past solution for Great Idea Web Page CSS here! */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
	margin: 0 auto;
	width: 900px;
	margin: 0% 25%;
}

.top-section {
	display: flexbox;
}

nav {
	display: flexbox;
	padding: 20px 0px;
	margin: 20px 0px;
	border: 20px;
	word-spacing: 45px;
}

.Main-header {
	display: flexbox;
	width: 42px;
}
button {
	width: 120px;
	margin-left: 115px;
}

header {
	text-align: center;
}

.right {
	display: flexbox;
	width: 145%;
	margin-top: -40%;
}

.code {
	display: flexbox;
	width: 420px;
}

.logo {
	display: flexbox;
	padding: 20px;
}

.middle-img {
	align-content: center;
	width: 100%;
}

.block1 {
	display: flexbox;
	margin-right: 55%;
	
}

.block2 {
	display: flexbox;
	margin-left: 50%;
	margin-top: -10%;
}

.block3 {
	display: flexbox;
	width: 280px;
	margin-right: auto;
}

.block4 {
	display: flex;
	justify-content: flex-start;
	flex-flow: column;
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1%;
}

.block5 {
	display: flexbox;
	width: 280px;
	margin-top: -29%;
	margin-left: auto;
}

footer {
	text-align: center;
}

.title {
	font-size: 80px;
	display: flex;
	margin: 20 px;
	padding-top: 60px;
}

.block1s {
	margin-top: 4%;
}

.content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 425px;
	border-style: solid;
	border-width:1px;
	color:black;
	margin: 10px;
}

.column {
	display: flex;
	flex-flow: wrap;

}

.block8s {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 425px;
	margin: 10 px;
}

.services-info-img {
	margin-left: 50%;
	margin-top: -25%;
}

.top{
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.mid50{
	display: flex;
	justify-content: space-between;
	align-content: center;	
}

.block50{
	width: 450px
}

.mid33{
	display: flex;
	justify-content: space-between;
}

.block33{
	display:flex;
	text-align:left;
	flex-direction: column;
	width: 350px;
}
@media (max-width: 800px){
	.logo {
		flex-direction: column-reverse;
	}
	.top	{
		width: 100%;
		margin-bottom: -100px;
		justify-content: space-between;  
		flex-direction: column-reverse;
	}
	.code {
		display: none;
	}
	.Main-header{
	 width: 100%;
	 justify-content: center;
	 margin-bottom: 400px;
	 margin-left: 300px;
	}
	button {
		margin: 0% 70% 0% 30%;
		width: 120px;
	 	margin-left: 115px;
	}
   .block50 {
	   width: 45%;
	   margin: 1%;
	   word-wrap: break-word;
   }
 
   .middle-img {
	   width: 100%;
   }
 
   .block3{
	   width: 800px;
	   justify-content: center;
   }
 }
 
 @media (max-width: 500px){
 .top {
	 display: column-reverse;
	 font-size: 20px;
	 margin: 0 auto;
	 width: 10%;
	 padding: 10%;
	 border-bottom: 1px black 80%;
	 border-width: 100%;
 }

 .block50 {
	 width: 100%;
	 padding: 1%;
 }
 .mid50 {
	 flex-direction: column;
	 margin-left: 180px;
 }
 .block33 {
	 width: 95%;
	 padding: 1%;
	 margin-left: 180px;
 }
 .block3 {
	 width: 90%;
	 padding: 1%;
	 margin-left: 180px;
 }
 .mid33 {
	 flex-direction: column;
 }
 .middle-img {
	 margin-left: 95px;
	 width: 90%;
	 }
 .contact {
	 margin-left: 180px;
 }
 .Main-header{
	 width: 100%;
	 justify-content: center;
	 margin-bottom: 400px;
	 margin-left: 300px;
 }
 
 }
